:root {
  --blue-color: #124acb;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main {
  padding: 20px;
}

.main .candidates {
  display: flex;
  justify-content: space-around;
}